on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write

jobs:
  release-linux-amd64:
    name: release linux/amd64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: NGTmeaty/go-release-action@4bfb8be49bcb1828bfe493449b63c9afc4e0e377 #v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: amd64
        goversion: 'go.mod'
        compress_assets: OFF
        md5sum: FALSE
        sha256sum: TRUE
        asset_name: 'Zeno-linux-amd64'
        pre_command: 'sudo apt update && sudo apt install -y g++-12 && export CXX=g++-12'
  release-linux-arm64:
    name: release linux/arm64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: mlugg/setup-zig@fa65c4058643678a4e4a9a60513944a7d8d35440 # v2.1.0
    - uses: NGTmeaty/go-release-action@4bfb8be49bcb1828bfe493449b63c9afc4e0e377 #v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: arm64
        goversion: 'go.mod'
        compress_assets: OFF
        md5sum: FALSE
        sha256sum: TRUE
        asset_name: 'Zeno-linux-arm64'
        pre_command: 'export CGO_ENABLED=1 && export CC="zig cc -lc -target aarch64-linux-musl" && export CXX="zig c++ -lc -target aarch64-linux-musl"'
  release-windows-amd64:
    name: release windows/amd64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: mlugg/setup-zig@fa65c4058643678a4e4a9a60513944a7d8d35440 # v2.1.0
    - uses: NGTmeaty/go-release-action@4bfb8be49bcb1828bfe493449b63c9afc4e0e377 #v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: windows
        goarch: amd64
        goversion: 'go.mod'
        compress_assets: OFF
        md5sum: FALSE
        sha256sum: TRUE
        asset_name: 'Zeno-windows-amd64'
        pre_command: 'export CGO_ENABLED=1 && export CC="zig cc -lc -target x86_64-windows" && export CXX="zig c++ -lc -target x86_64-windows"'
