on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write

jobs:
  release-linux-amd64:
    name: release linux/amd64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: NGTmeaty/go-release-action@4bfb8be49bcb1828bfe493449b63c9afc4e0e377 #v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: amd64
        goversion: 'go.mod'
        compress_assets: OFF
        md5sum: FALSE
        sha256sum: TRUE
        asset_name: 'Zeno-linux-amd64'
  release-linux-arm64:
    name: release linux/arm64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: NGTmeaty/go-release-action@4bfb8be49bcb1828bfe493449b63c9afc4e0e377 #v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: arm64
        goversion: 'go.mod'
        compress_assets: OFF
        md5sum: FALSE
        sha256sum: TRUE
        asset_name: 'Zeno-linux-arm64'
  release-windows-amd64:
    name: release windows/amd64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: NGTmeaty/go-release-action@4bfb8be49bcb1828bfe493449b63c9afc4e0e377 #v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: windows
        goarch: amd64
        goversion: 'go.mod'
        compress_assets: OFF
        md5sum: FALSE
        sha256sum: TRUE
        asset_name: 'Zeno-windows-amd64'
